*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}


.banner-article {
    background-image: url("../img/banner-article.png");
    background-size: cover;
    height: 37.4vh;
    width: 100%;
}

main {
    background-image: url(../img/gym-studio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;  
    width: 100%;   
}

.article-main {
    display: flex;
    flex-direction:column;
    width: 90%;
    padding: 2rem;
    gap: 3rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
}

article {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.article-container {
    display: flex;
    flex-direction: row;
    background-color: #d5bdaf;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2.5rem;
    padding-top: 6rem;
    gap:2rem;
}

.title h1 {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-40%, -50%);
  font-size: 2rem;
  color: #fff;
  padding-bottom: 4rem;
}

.featured-image img{
  object-fit: cover;
  width: 50vh;
  height: 35vh ;
  border-radius: 0.8rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
  margin: 2rem;
}

h3 {
    color: #fff;
    padding: 0 0 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.article-text p {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-right: 4rem;
    text-align: justify;
    display: table;
    word-break: break-word;
}

.article-text h2 {
    color: #fff;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.article-text .bold {
   font-weight: bold;
   color: #fff;
}