* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}


.banner-article {
    background-image: url("../img/banner-article.png");
    background-size: cover;
    height: 37.4vh;
    width: 100%;
}

main {
    background-image: url(../img/gym-studio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;  
    width: 100%;   
}

.article-main {
    display: flex;
    flex-direction:column;
    width: 90%;
    padding: 2rem;
    gap: 3rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
}

article {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.article-container {
    display: flex;
    flex-direction: row;
    background-color: #d5bdaf;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2.5rem;
    padding-top:5rem;
    gap:2rem;
}

h1 {
  padding-left: 2rem;
  font-size: 2rem;
  color: #fff;
}

.featured-image img{
  object-fit: cover;
  width: 60vh;
  height: 45vh ;
  border-radius: 0.8rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
  margin: 2rem;
}

h3 {
    color: #fff;
    padding: 0 0 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.article-text p {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-right: 3rem;
    text-align: justify;
    display: table;
    word-break: break-word;
}

.article-text h2 {
    color: #fff;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.article-text .bold {
   font-weight: bold;
   color: #fff;
}

@media screen and (max-width:1100px) {
    .navbar-container .logo {
        left:5rem;
		transform: translate( -1%);	
	}
    
    .navbar-container{
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

    .banner-article {
        background-image: url(../img/banner-article.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 22.4vh;
    }

    .article-text p {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;
        letter-spacing: normal
    }

    .article-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap:1rem;
    }

    h1 {
        padding-left: 1rem;
        font-size: 1.6rem;
    }

    .article-text h2 {
        padding-bottom: 1rem;
        padding-left: 1rem;
        font-size: 1.4rem;
    }

    h3 {
        color: #fff;
        padding: 0 0 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        
    }

    
}


@media (max-width: 480px) {
   

    .btn {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding:6px 6px;
		font-size:0.5rem;
		font-weight: bold;
		border-radius: 0.5rem
    }

    .navbar-container .logo {
		display: flex;
        left:10rem;
		width: 22vw;
	    height: 10vh;
		transform: translate(1%, -40%);	
	}

    .banner-article {
        height: 9vh;
    }

    .article-main {
        display: flex;
        padding: 1rem;
        gap: 1rem;
        border-radius: 1rem;
    }

    .featured-image img{
        width: 60vw;
        height: 24vh;  
        margin-left: 1rem; 
    }


    .article-text p {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        letter-spacing: normal
    }

    .article-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap:1rem;
    }

    h1 {
        padding-left: 0rem;
        font-size: 1.3rem;
        margin-top: 0;
    }

    .article-text h2 {
        padding-bottom: 1rem;
        padding-left: 0rem;
        font-size: 1.2;
    }

    h3 {
        color: #fff;
        padding: 0 0 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        
    }

    .article-text .bold {
        font-weight:bold;
    }

}