* {
	padding: 0;
    margin: 0;
}

.navbar-container {
	display: flex;	
	justify-content:center;
	padding: 3.5rem;
	box-shadow: inset rgba(84, 85, 82, 0.2) 1px -4px 7px 0px;
}

.btn {
	color:#fff;
	background:#8bc53f;
	padding:15px 25px;
	font-size:15px;
	font-weight: bold;
	text-decoration:none;
	letter-spacing:2px;
	text-transform:uppercase;
	border-radius: 0.5rem;
}
  
.btn:hover{
	border:none;
	background:#fff;
	background:#314a76;
	padding:20px 20px;
	color:#fff;
}

.navbar-container .logo {
	width: 14vw;
	height: 6vh;
    left: 7rem;
    object-fit: contain;
    position: absolute;
	transform: translate(-10%, -40%);
   
}

.banner-image {
    background-image: url("/img/banner-export.jpeg");
	background-size: cover;
    background-repeat: no-repeat;
	text-align: center;
	width: 100%;
    height: 54vh;
}


.social-nav a i {
	background-color: #fff;
    color: #314a76;
    text-align: center;
    width: 3rem;
    font-size: 40px;
    border-radius: 5px;   
}

.social-nav {
   position: absolute;
   right: 5%;
   transform: translate(-0%, -22%);
}

.social-nav a i:hover {
    background-color: #ddd;
	padding: 0.3rem 0; 
}


/* responsividade */
@media screen and (max-width:1120px) {

	/* header */
	.navbar-container{
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	
	.btn {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding:6px 6px;
		font-size:1rem;
		font-weight: bold;
		border-radius: 0.5rem
    }

	.navbar-container .logo {
		left:5rem;
		transform: translate( -1%);	
	}

	.banner-image {
		height:26vh;
	}	

	.social-nav a i {
		display: none;
	}
		

}

@media (max-width: 480px) {
	
	/* header */
	.navbar-container{
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		padding: 1.5rem;
		box-shadow: inset rgba(84, 85, 82, 0.2) 0px -1px 1px 0px;
	}


	.btn {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding:6px 6px;
		font-size:0.5rem;
		font-weight: bold;
		border-radius: 0.5rem
    }
	
	.banner-image {
		height: 12.3vh;
	}	

	.navbar-container .logo {
		display: flex;
        left:10rem;
		width: 22vw;
	    height: 10vh;
		transform: translate(1%, -40%);		
	}

	.social-nav a i {
		display: none;
	}

	h1 {
		font-size: 1.5rem;
		margin-top: 1.5rem;
		padding-bottom: 1rem;  
	}
		

}
