* {
	padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.navbar-container {
	display: flex;	
	justify-content:center;
	padding: 2rem;

}

.btn{
	color:#fff;
	background:#8dc63f;
	padding:15px 25px;
	font-size:15px;
	font-weight: bold;
	text-decoration:none;
	letter-spacing:2px;
	text-transform:uppercase;

  }
  
  .btn:hover{
	border:none;
	background:#fff;
	background:#314a76;
	padding:20px 20px; #000;
	color:#fff;
  }





