*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}


.banner-article {
    background-image: url("../img/banner-article.png");
    background-size: cover;
    height: 37.4vh;
    width: 100%;

}

main {
    background-image: url(../img/kit\ workout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;    
}

.article-main {
    display: flex;
    flex-direction:column;
    width: 80%;
    padding: 2rem;
    gap: 3rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
}

article {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

h1 {
     padding: 0.5rem;
     font-size: 2rem;
     color: #fff;
     margin-top: 1rem;
     margin-left: 4.1rem;
}

.article-container {
    display: flex;
    flex-direction: column;
    background-color: #b0c4b1;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2rem;
    gap:2rem;
}

.featured-image img{
  object-fit: cover;
  width: 80%;
  height: 55vh ;
  border-radius: 0.8rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
  margin-top: 2rem;
  margin-left: 4rem;
}

.article-container-meal {
    display: flex;
    background-color: #b0c4b1;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2.5rem;
    gap: 1rem;
}

.image-meal img {
    object-fit: cover;
    width: 60vh;
    border-radius: 0.8rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    margin-top: 3.5rem; 
    margin-left: 2.5rem; 

}

.article-container-hydration {
    display: flex;
    flex-direction: row;
    background-color: #b0c4b1;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2.5rem;
    gap:1rem;
}

.image-hydration img {
    object-fit: cover;
    width: 55vh;
    height: 38vh;
    border-radius: 0.8rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
    margin-top: 3.5rem;
    margin-left: 4rem;
}

h3 {
    color: #fff;
    padding: 0 0 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding-left: 4rem;
}
 
.article-paragraph h2 {
    color: #fff;
    padding: 0 0 1rem;
    padding-left: 4rem;
    margin-top: 2rem;

}

.article-paragraph p {
   padding: 0.5rem 0;
   margin: 0.5rem 0;
   font-size: 1.3rem;
   line-height: 1.5;
   letter-spacing: 1px;
   padding-left: 4rem;
   padding-right: 4rem;
   text-align: justify;
   display: table;
   word-break: break-word;
}

 li {
    display: list-item;
    padding: 0.5rem;
    font-size: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.bold {
    font-weight: bold;
    color: #fff;
}
