*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}


.banner-article {
    background-image: url("../img/banner-article.png");
    background-size: cover;
    height: 37.4vh;
    width: 100%;
}

main {
    background-image: url(../img/kit\ workout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;    
}

.article-main {
    display: flex;
    flex-direction:column;
    width: 70%;
    padding: 2rem;
    gap: 3rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
}

article {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

h1 {
     padding: 0.5rem;
     font-size: 2rem;
     color: #fff;
     margin-top: 1rem;
     margin-left: 1rem;
}

.article-container {
    display: flex;
    flex-direction: column;
    background-color: #b0c4b1;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 4rem;
    gap:2rem;
}

.featured-image img{
  object-fit: cover;
  width: 50vw;
  height: 45vh ;
  border-radius: 0.8rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
  margin-left: 1rem;
}

.article-container-meal {
    display:flex;
    background-color: #b0c4b1;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2rem 2rem;
    padding-bottom: 4rem;
    gap: 1rem;
}

.image-meal img {
    object-fit: contain;
    width: 30vw;
    border-radius: 0.8rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    margin-top: 3.5rem; 
    margin-left: 2rem; 
}

.article-container-hydration {
    display: flex;
    flex-direction: row;
    background-color: #b0c4b1;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2rem;
    gap:1rem;
}

.image-hydration img {
    object-fit: contain;
    width: 30vw;
    border-radius: 0.8rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
    margin-top: 3rem;
    margin-left: 1rem;
}

.article-paragraph h2 {
    color: #fff;
    padding: 0 0 1rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
}

.article-paragraph h3 {
    color: #fff;
    padding: 0 0 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding-left: 1.6rem;
}

.article-paragraph p {
   padding: 0.5rem 0;
   margin: 0.5rem 0;
   font-size: 1.3rem;
   line-height: 1.5;
   letter-spacing: 1px;
   padding-left: 2rem;
   padding-right: 2rem;
   text-align: justify;
   display: table;
   word-break: break-word;
}

li {
    display: list-item;
    padding: 0.5rem;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.bold {
    font-weight: bold;
    color: #fff;
}


@media screen and (max-width:1100px) {
    .navbar-container .logo {
        left:5rem;
		transform: translate( -1%);	
	}
    
    .navbar-container{
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

    .banner-article {
        height: 22vh;  
    }

    .btn {
		flex-wrap: wrap;
		padding:8px 8px;
		font-size: 1rem;
		font-weight: bold;
		border-radius: 0.5rem
    }

    .article-container {
        display: flex;
        flex-flow: row wrap;
        gap:1rem;
    }

    .article-paragraph p {
        display: flex;
        margin: 0.5rem 0;
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        letter-spacing: normal;
    }

    h1 {
        font-size: 2rem;
        margin-left: 1rem;
   }

    .article-paragraph h2 {
        padding-left: 1rem;
    }

    .article-paragraph h3 {
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    .article-container-meal {
        display: flex;
        flex-flow: row wrap;
        padding: 1rem;
    }
    
    .image-meal img { 
        margin-left: 1rem;
        width: 60vw;
    }

    li {
        font-size: 1.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .article-container-hydration {
        display: flex;
        flex-flow: row wrap;
        padding: 1rem;
    }

    .image-hydration img {
        width: 60vh;  
        margin-top: 2rem;
        margin-left: 1rem;
    }
}

@media (max-width: 480px) {
   

    .btn {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding:6px 6px;
		font-size:0.5rem;
		font-weight: bold;
		border-radius: 0.5rem
    }

    .navbar-container .logo {
		display: flex;
        left:10rem;
		width: 22vw;
	    height: 10vh;
		transform: translate(1%, -40%);	
	}

    .banner-article {
        height: 8.5vh;
    }

    .article-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 1.5rem;
        gap: 1rem; 
        margin-top: 1rem;
        border-radius: 1.5rem;
    }

    .article-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 1rem;
 }

    .featured-image img {
        width: 70vw;
        height: 28vh;  
        margin-right: 1rem;
    }

    .article-paragraph h3 {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 1.4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .article-paragraph h2 {
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1.3rem;
    }

    .image-meal img {
        width: 70vw;
        margin-top: 1.5rem; 
        padding: 0;
    }

    li {
        font-size: 1.1rem;
    }

    .article-paragraph p {
        font-size: 1.1rem;
        letter-spacing: normal;
        text-align:start;
        word-break: normal;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: table;
     }    

     .image-hydration img {
        width: 70vw;  
        margin-top: 2rem;
        text-align:center;
    }    
    
    
}

    


