
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}



.logo {
    display: inline-block;
    position: absolute;
    width: 23vh;
    left: 5rem;
    object-fit: contain;
    margin-top: 0.5rem;

}


article {
    background-color: #314a76;
    opacity: 0.9;
}

h1 {
    color: #f3f6ef;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.container-wrapper {
    margin: 0 auto;
    max-width: 130vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
    padding-bottom: 5rem;
  }

.post-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
.post-card {
    width: 30rem;
    height: 20rem;

}
  }

.post-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0) linear-gradient (to bottom, rgba(0,0,0,0) 50%,rgb(0,0,0,0) 80%);;
    z-index: 0;
}

.post-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.post-card_image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1; 
}

.post-card_text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: #fff;
    transition: background-color 1.5s ease;
    background-color: rgba(0, 0, 0, 0.4);
}

.post-card_title {
    transition: color 1s ease;
    margin-bottom: .5rem;
    text-align: center;
}

.post-card_detailas-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
    .news-card:hover .news-card__details-wrapper {
      max-height: 20rem;
      opacity: 1;}
}

.post-card:hover .post-card_text-wrapper {
    background-color: rgba(0,0,0,0.6);
}

.post-card:hover .post-card_title {
    color: #8dc63f;
}

.post-card:hover .post-card_image {
    transform: scale(1.2);
    z-index: -1;
}

.post-card_excerpt {
    font-weight: 300;
}

.post-card_read-more a {
    background: rgb(0, 0, 0);
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.post-card_read-more:hover {
    left: 0.5rem;
    color: #314a76;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #8dc63f;
    padding: 2rem;
}



.left-box img {
    width: 250px;
    object-fit: contain;
    margin-bottom: 2rem;
}

.left-box h2 {
    color: #fff;
     font-size: 15px; 
}

.main-content {
    display: flex;
    gap: 3rem;
   
}

.main-content .left-box {
    padding: 2rem;
}

.left-box h3 {
    font-size: 1rem;
    color: #fff;
    margin-top: 1rem;
    padding-right: 1rem 0;
}

.social h3 {
    color: #314a76;
    margin-bottom: 0.5rem;
}

.social p  {
    padding: 0.5rem 0 0;
    padding-right: 1.5rem;
    margin-top: 1.2rem;
}

.social a i {
    margin-top: 1rem;
    padding: 0.2rem 0;  
    color: #314a76;
    background-color: #fff;
    text-align: center;
    width: 1.5rem;
    font-size: 20px;
    border-radius: 5px;   
}

.social a i:hover {
    background-color: #ddd;
}
   

.center-box h3{
    padding-bottom: 1rem;
    color: #314a76;

}


.content .place h4 {
    padding-bottom: 1rem;
    color: #fff; 
}


.center-box .content .icons {
    color: #314a76;
}

.content .place {
    padding-top: 0.5rem;
}

.content .phone {
    padding-top: 0.5rem;
}

.content .email {
    padding-top: 0.5rem;
}

.content .place-2 h4 {
    margin-top:1rem;
    padding-bottom: 1rem;
    color: #fff; 
}

.content .place-2 .text {
    padding-top: 0.5rem;
}

.content .place-2 .phone {
    padding-top: 0.5rem;
}

.email {
    border-radius: 1rem;
}


.right-box {
    display:block;
    justify-content: right;
    
}

.right-box h3 {
    color: #314a76;
}

form { max-width:350px;
     margin: 1.7rem auto; }


.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #314a76;
    transition: all 0.3s;
    padding: 1rem;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #ddd; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#314a76;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:20px;
    padding-top: 0.5rem;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:500;
  }
  [type="submit"]:hover { background:#56b3db; }

    
    









