*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif ;
    box-sizing: border-box;
    
}


.banner-article {
    background-image: url("../img/banner-article.png");
    background-size: cover;
    height: 37.4vh;
    width: 100%;

}

main {
    background-image: url(../img/swimmer-pool.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;    
}

.article-main {
    display: flex;
    flex-direction:column;
    width: 90%;
    padding: 2rem;
    gap: 3rem;
    margin-top: 3rem;
    border-radius: 1.5rem;
}

article {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

h1 {
     padding: 0.5rem;
     margin-left: 2.5rem;
     font-size: 2.5rem;
     font-weight: bold;
     color: #1b4965;
     margin-top: 1rem;
}

.article-container-aerobics {
    display: flex;
    flex-direction: column;
    background-color: #90e0ef;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2rem;
    gap:2rem;
}

.featured-image img{
  object-fit: cover;
  width: 100vh;
  height: 50vh;
  margin-left: 5rem;
  border-radius: 0.8rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
  margin-top: 2rem;
}

.article-container-aquatic {
    display: flex;
    background-color: #90e0ef;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2.5rem;
    gap: 2rem;
}

.image-aquatic img {
    object-fit: cover;
    width: 60vh;
    border-radius: 0.8rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    margin-top: 3rem;  
    margin-left: 3rem;
}

.article-container-aquafit {
    display: flex;
    flex-direction: column;
    background-color: #90e0ef;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    padding: 2.5rem;
   
}

.image-aquafit img {
    object-fit: cover;
    width: 90vh;
    height: 45vh;
    margin-left: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);   
    margin-top: 3rem;
}

h3 {
    color: #1b4965;
    padding: 0 0 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}
 
.article-paragraph h2 {
    color: #1b4965;
    padding: 0 0 1rem;
    margin-top: 2rem;

}

.article-paragraph p {
   padding: 0.5rem 0;
   margin: 0.5rem 0;
   font-size: 1.3rem;
   line-height: 1.5;
   letter-spacing: 1px;
   padding-left: 2rem;
   padding-right: 3rem;
   text-align: justify;
   display: table;
   word-break: break-word;  
}

.bold {
    font-weight: bold;
    color: #1b4965;
}

.article-paragraph ul li {
    margin-left: 4em;
    padding: 0.5rem;
    font-size: 1.3rem;
}


@media (max-width: 480px) {
   
    .btn {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding:6px 6px;
		font-size:0.5rem;
		font-weight: bold;
		border-radius: 0.5rem
    }

    .navbar-container .logo {
		display: flex;
        left:10rem;
		width: 22vw;
	    height: 10vh;
		transform: translate(1%, -40%);	
	}

    .banner-article {
        height: 8.5vh;
    }

    .article-main {
        width: 100%;
        gap: 1rem;
        margin-top: 0.5rem;
        border-radius: 1rem;
    }

    .article-container-aerobics {
        padding: 2rem;
        gap: 1rem; 
        margin-top: 0.5rem;
        border-radius: 1rem;
    }
    .article-container-aquatic {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 2.5rem;
        gap: 2rem;
    }

    .featured-image img {
        width: 58vw;
        height: 25vh;  
        margin-left: 1rem; 
    }

    .article-paragraph h3 {
        font-size: 1.3rem;
        padding-left: 0.4rem;
    }

    h1 {
        font-size: 1.5rem;
        margin-left: 0;
    }

    .image-aquatic img {
        object-fit: cover;
        width: 25vh;
        border-radius: 0.8rem;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
        margin-top: 1rem;  
        margin-left: 1rem;
    }
    
    .article-paragraph h2 {
        margin-top: 0.5rem;
        font-size: 1.3rem;
    }

    main img {
        width: 60vw;
        margin-top: 1.5rem; 
        padding: 0;
        text-align: center;
    }

    .image-aquafit img {
        width: 58vw;
        height: 25vh;
        margin-left: 1rem;   
        margin-top: 1.5rem;
    }

    .article-paragraph ul li {
        font-size: 1.1rem;
        text-align: left;
        margin-left: 1.8rem;
        font-size: 1.1rem;
    }

    .article-paragraph p {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
        font-size: 1.1rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        word-spacing: 2px;
        text-align: left;
        
     }  
       
        
    
    
}
